<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draft"
        tools:targetApi="31">
        <activity
            android:name=".BothBreed"
            android:exported="false" />
        <activity
            android:name=".CatBreed"
            android:exported="false" />
        <activity
            android:name=".DogBreed"
            android:exported="false" />
        <activity
            android:name=".SearchResultDog"
            android:exported="false" />
        <activity
            android:name=".PetSearch"
            android:exported="false" />
        <activity
            android:name=".ProfileStep4"
            android:exported="false" />
        <activity
            android:name=".DogStep3"
            android:exported="false" />
        <activity
            android:name=".CatStep3"
            android:exported="false" />
        <activity
            android:name=".step3"
            android:exported="false" />
        <activity
            android:name=".Step2Activity"
            android:exported="false" />
        <activity
            android:name=".Step1Activity"
            android:exported="false" />
        <activity
            android:name=".GetStarted3"
            android:exported="false" />
        <activity
            android:name=".GetStarted2"
            android:exported="false" />
        <activity
            android:name=".GetStarted1"
            android:exported="false" />
        <!--
<activity
            android:name=".gestarted1"
            android:exported="false" />
        -->
        <!--
<activity
            android:name=".GetStartedOne"
            android:exported="false" />
        -->
        <activity
            android:name=".ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".SetupActivity"
            android:exported="false" />
        <activity
            android:name=".GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>